
body{
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
h1, h3, p{
    color: white;
}
h1, h3{
    margin: 0 auto;
}
span{
    color: #2c54f5;
}
footer h5{
    text-align: center;
}
/*header*/

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2D3250;

    position: sticky;
    top: 0;
}
.nav-list ul{
    display: flex;
    gap: 2rem 2rem;
}
.nav-list ul li{
    list-style-type: none;
}
.nav-list ul li a{
    text-decoration: none;
    color: white;
    background-color: #7077A1;
    border-radius: 999px;
    padding: 3px 8px;
    transition: all 0.2s ease-in-out;
}
.nav-list ul li a:hover{
    background-color: aquamarine;
    color: black;
}
/*end header*/
/*main*/
.main-container{
    display: flex;
    flex-direction: column;
}
.box{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
    background-color: #424769;
}
.aside-box header div img{
    width: 350px;
    border-radius: 999px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.aside-box header div img:hover{
    box-shadow: 0px 0px 25px cyan;
}
.aside-box header div{
    display: flex;
    justify-content: center;
}
.box-2{
    background-color: #7077A1;
    padding: 15px;
}
.top{
    background-color: #424769;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.bot{
    background-color: #424769;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.bot ul li img{
    width: 70px;
}
.bot ul li{
    list-style-type: none;
}
.bot ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem 3rem;
}
.bot h2{
    color: white;
    text-align: center;
}
/*end main*/
/*footer*/
footer{
    justify-content: space-around;
    background-color: #2D3250;
}
.footer-left{
    display: grid;
    justify-content: center;
}
footer ul li{
    list-style-type: none;
    display: flex;
    text-align: center;
    gap: 8px;
    border: 2px solid #2c54f5;
    border-radius: 520px;
    padding: 6px 6px ; 
    transition: all 0.2s ease-in-out;
}
footer ul li:hover{
    background-color: #7077A1;
    box-shadow: 0px 0px 15px cyan;

}
.footer-left ul{
    display: flex;
    justify-content: center;
    gap: 1rem 5rem;
}
.footer-left ul img{
    width: 25px;
}
.footer-left ul li a{
    text-decoration: none;
    color: white;
}
.footer-right{
    background-color: #F6B17A;
}
.footer-right p{
    color: black;
    margin: 0 0;
    text-align: center;
}

/*medium view*/
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .nav-list ul{
        padding-right: 38px;
    }
    .box{
        flex-direction: column-reverse;
        height: 400px;
    }
    .aside-box header div img{
        width: 200px;
    }
    .bot ul{
        display: grid;
        gap: 8px;
        padding-left: 0;
        grid-template-columns: 6rem 4rem;
    }
    .footer-left ul{
        flex-direction: column;
        padding-left: 0;
    }
}
